#------------------------------------------------------------------------------
# Git Ignore
#------------------------------------------------------------------------------
# Exclude all NodeJS modules and compiled files
node_modules
#------------------------------------------------------------------------------